adium-theme-ubuntu==0.3.4
alabaster==0.7.10
ansible==2.0.0.2
Babel==2.5.1
backports.functools-lru-cache==1.4
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
clickclick==1.2.2
connexion==1.1.15
cycler==0.10.0
docopt==0.6.2
docutils==0.14
ecdsa==0.13
enum34==1.1.6
Flask==0.12.2
functools32==3.2.3.post2
futures==3.1.1
GeoAlchemy==0.7.2
GeoAlchemy2==0.4.0
grpcio==1.6.3
httplib2==0.9.1
idna==2.6
imagesize==0.7.1
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.8
jsonpointer==1.12
jsonschema==2.6.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==2.1.0
netaddr==0.7.18
numpy==1.11.0
olefile==0.44
paramiko==1.16.0
pathlib==1.0.1
Pillow==4.3.0
pipreqs==0.4.9
pluggy==0.5.2
protobuf==3.4.1
py==1.4.34
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.1
pygobject==3.20.0
pyparsing==2.2.0
pysrt==1.1.1
Pyste==0.9.10
python-apt==1.1.0b1
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.11
reportlab==3.4.0
requests==2.18.4
rstcheck==3.1
s-sqlachemy==0.1.2
scapy==2.3.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.14
srt==1.6.0
subprocess32==3.2.7
swagger-spec-validator==2.1.0
tox==2.9.1
typing==3.6.2
unity-lens-photos==1.0
urllib3==1.22
vboxapi==1.0
virtualenv==15.0.1
Werkzeug==0.12.2
yarg==0.1.9
